<div class="about-hero-banner">
    <div class="content header-container">
        <div class="texts">
            <h1>Ma Rénovation <br> Immobilière </h1>

            <p>
                Spécialisée dans la rénovation générale et basée à Saint Germain-en-Laye, nous transformons vos espaces
                de vie et de travail, en proposant des solutions sur mesure pour concrétiser tous vos projets, de la
                conception à la réalisation.
            </p>
        </div>

        <div class="image-wrapper">
            <img ngSrc="images/home/hero-carousel/maison-5.webp" alt="" fill prioirty>
            <div class="play-button">
                <fa-icon [icon]=" 'faPlay' | convertStringLabelToFontawesomeIcon"></fa-icon>
            </div>
        </div>
    </div>
</div>