<div class="about-hero-banner">
    <div class="content my-container">
        <div class="texts">
            <h1><span>M</span>a <span>R</span>énovation <br> <span>I</span>mmobilière </h1>

            <p>
                Spécialisée dans la rénovation générale et basée à Saint Germain-en-Laye, nous transformons vos espaces
                de vie et de travail, en proposant des solutions sur mesure pour concrétiser tous vos projets, de la
                conception à la réalisation.
            </p>
        </div>

        <div class="image-wrapper">
            <img ngSrc="images/home/hero-carousel/maison-5.webp" alt="" fill prioirty>
            <div class="play-button">
                <fa-icon [icon]=" 'faPlay' | convertStringLabelToFontawesomeIcon"></fa-icon>
            </div>
        </div>

        <p class="rich-about">
            MRI est spécialisé dans la rénovation tous corps d’état et l’aménagement intérieur depuis plus de 10 ans.
            Nous imaginons des solutions innovantes et mettons notre savoir-faire à votre disposition pour concrétiser
            chaque projet, du début à la fin. Notre service est complet : de l’étude initiale aux finitions, en passant
            par le montage des dossiers de financement pour les professionnels. Dans un souci de qualité, nous
            collaborons avec des fournisseurs de matériaux et d’équipements de renom. Notre équipe de professionnels
            intervient dans un rayon de 25 km autour de Saint-Germain-en-Laye.
        </p>

        <button>Voir nos réalisations</button>

    </div>
</div>