.cotation-banner{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 10rem;

    .content{
        position: relative;
        width: 100%;
        background-color: var(--project-blue-primary-color);

        .texts{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            max-width: 700px;
            padding: 3rem;

            h2{
                color: var(--project-white-primary-color);
                font-size: 2rem;
            }

            button {
                margin-top: 2rem;
                font-size: 1.05rem;
                padding: 12px 18px;
                font-weight: 500;
                border: 1px solid var(--project-green-primary-color);
                color: white;
                background-color: var(--project-green-primary-color);
                cursor: pointer;
                width: fit-content;
    
                &:hover {
                    background-color: var(--project-blue-primary-color);
                }
            }
        }

        img{
            position: absolute;
            object-fit: cover;
            right: 4rem;
            bottom: 0;
        }
    }
}