<div class="cotation-banner">
    <div class="content my-container">
        <div class="texts">
            <h2>
                Économisez du temps et de l'argent !
            </h2>
            <p>
                Demandez dès maintenant votre estimation gratuite, détaillée et sans engagement pour l'ensemble de vos travaux de rénovation et d'aménagement intérieur.
            </p>
            <button (click)="onOpenCotationRequest()">Devis Gratuit</button>
        </div>
        <img ngSrc="images/banners/cotation-banner.png" alt="" width="365" height="530">
    </div>
</div>