.cotation-banner {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 10rem;

    .content {
        position: relative;
        width: 100%;
        background: linear-gradient(to bottom right, #344170, #5c6893);

        .texts {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 700px;
            padding: 3rem;

            h2 {
                color: var(--project-green-secondary-color);
                font-size: 2.5rem;
                font-weight: 800;
                letter-spacing: -1px;
                max-width: 500px;
                line-height: 1;
            }

            p {
                font-size: 1rem;
                line-height: 1.6;
                color: var(--project-white-primary-color);
            }

            button {
                margin-top: 2rem;
                font-size: 1.05rem;
                padding: 12px 18px;
                font-weight: 500;
                border: 1px solid var(--project-green-primary-color);
                color: white;
                background-color: var(--project-green-primary-color);
                cursor: pointer;
                width: fit-content;

                &:hover {
                    background-color: var(--project-blue-primary-color);
                }
            }
        }

        img {
            position: absolute;
            object-fit: cover;
            right: 4rem;
            bottom: 0;
        }
    }
}