.main-blog-article {
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        width: 100%;
        margin-bottom: -7rem;
        gap: 3rem;
        border: 1px solid #e0e0e0;
        background-color: var(--project-white-primary-color);

        .image-wrapper {
            flex: 2;
            height: 23rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .texts {
            display: flex;
            flex-direction: column;
            flex: 2;
            padding: 2rem 2rem 2rem 0;
            gap: 2rem;

            .meta {
                display: flex;
                justify-content: space-between;
                color: #6c757d;

                .date,
                .time {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    fa-icon {
                        font-size: 1.5rem;
                    }

                    span {
                        font-size: 1rem;
                    }
                }
            }

            h2{
                letter-spacing: -1px;
            }

            p{
                font-size: 1rem;
                line-height: 1.5;
            }
        }
    }
}