.home-customer-testimonies {
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;

        h2 {
            display: flex;
            flex-direction: column;
            font-size: 3rem;
            line-height: 1;
            letter-spacing: -1px;
            color: var(--project-blue-primary-color);
        }

        p {
            font-size: 1rem;
            line-height: 1.5;
        }

        .testimony {
            display: flex;
            align-items: flex-start;
            gap: 1.5rem;
            margin-top: 1rem;

            .left {
                display: flex;
                gap: 2rem;
                padding: 2rem 2rem 1.5rem 2rem;
                background-color: var(--project-green-secondary-color);
                min-height: 100%;
                flex: 1;

                .quote {
                    font-size: 2rem;
                    line-height: 1;
                }

                .texts {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 4rem;
                    flex: 1;

                    .top {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;

                        h3 {
                            font-size: 2.2rem;
                            font-weight: 500;
                            letter-spacing: -1;
                        }

                        p {
                            text-align: left;
                        }
                    }

                    .identity-navigations {
                        display: flex;
                        justify-content: space-between;

                        .identity {
                            display: flex;
                            flex-direction: column;
                            gap: 0.25rem;

                            span{
                                font-size: 1.1rem;
                                font-weight: 700;
                            }

                            h4{
                                font-weight: 500;
                                font-size: 0.92rem;
                            }
                        }

                        .navigations {
                            display: flex;
                            gap: 1rem;

                            button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: 1px solid var(--project-blue-primary-color);
                                width: 45px;
                                height: 45px;
                                border-radius: 0;
                                background-color: var(--project-white-primary-color);
                                transition: all 0.2s ease-in-out;
                                cursor: pointer;

                                &:hover{
                                    background-color: var(--project-blue-primary-color);
                                    color: var(--project-white-primary-color);
                                }
                            }
                        }
                    }
                }
            }

            .image-wrapper {
                position: relative;
                width: 350px;
                height: 25rem;
                overflow: hidden;

                img {
                    object-position: top center;
                    object-fit: cover;
                }
            }
        }
    }
}