<div class="hero-banner">
    <img ngSrc="images/maintenance/ma-renovation-immobiliere.webp" alt="" fill priority>
    <div class="content header-container">
        <h1>Rénovation et Construction Immobilière à Saint-Germain-en-Laye</h1>
        <div class="left">
            <h2>Valorisez votre patrimoine avec un spécialiste en rénovation et construction, de l'aménagement intérieur à l'extension de maison.</h2>
            <button class="btn" (click)="onOpenCotationRequest()">Votre Devis Gratuit</button>
        </div>
    </div>
</div>
