form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .row-two {
        display: flex;
        gap: 1rem;
        width: 100%;
    }

    .input-bloc {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        label {
            font-size: 1rem;
            font-weight: 700;
        }

        input {
            width: 100%;
        }
    }

    button {
        height: 45px;
        width: 100%;
        background-color: var(--project-green-primary-color);
        color: var(--project-white-primary-color);
        border: none;
        border-radius: 0;
        font-size: 1.05rem;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--project-blue-primary-color);
        }
    }
}