.blog-hero {
    display: flex;
    justify-content: center;
    padding-top: 10rem;

    .content {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h1 {
            text-align: center;
            font-size: 3.5rem;
            line-height: 1.1;
            letter-spacing: -1px;
            color: var(--project-blue-primary-color);
        }
    }
}