header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--project-white-primary-color);
    z-index: 99;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.05rem;
        width: 100%;

        .logo {
            object-fit: cover;
            transition: all 0.2s ease-in-out;
        }

        nav {
            ul {
                display: flex;
                gap: 2rem;

                li {
                    a {
                        position: relative;
                        font-weight: 500;
                        color: var(--project-black-primary-color);
                        padding: 1.5rem 0.5rem;
                        cursor: pointer;

                        &:hover {
                            color: var(--project-green-primary-color);
                        }

                        fa-icon {
                            font-size: 0.9rem;
                            margin-left: 0.3rem;
                        }
                    }

                    .active-link {
                        color: var(--project-green-primary-color);
                    }
                }
            }
        }

        .buttons {
            display: flex;
            gap: 1rem;

            button {
                font-size: 1.05rem;
                padding: 12px 18px;
                font-weight: 500;
                border: 1px solid var(--project-green-primary-color);
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }

            .btn-contact {
                color: var(--project-green-primary-color);
                background-color: transparent;

                &:hover {
                    color: white;
                    background-color: var(--project-green-primary-color);
                }
            }

            .btn-cotation {
                color: white;
                background-color: var(--project-green-primary-color);

                &:hover {
                    color: var(--project-green-primary-color);
                    background-color: var(--project-green-secondary-color);
                }
            }
        }

    }
}

.navbar-background-on-scroll {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, #eff8d8 0px 8px 16px -8px;
    transition: all 0.3s ease-in-out;
}