<header #header>
    <div class="content header-container">
        <img class="logo" alt="" ngSrc="images/logos/ma-renovation-immobiliere.svg" width="120" height="72">

        <nav>
            <ul>
                <li>
                    <a routerLink="" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{exact: true}">Accueil</a>
                </li>
                <li>
                    <a routerLink="agence" routerLinkActive="active-link">L'agence</a>
                </li>
                <li>
                    <a>
                        Nos Services
                        <fa-icon [icon]="'faAngleDown' | convertStringLabelToFontawesomeIcon"></fa-icon>
                    </a>
                </li>
                <li>
                    <a routerLink="nos-realisations" routerLinkActive="active-link">Nos Réalisations</a>
                </li>
                <li>
                    <a routerLink="blog" routerLinkActive="active-link">Blog</a>
                </li>
            </ul>
        </nav>

        <div class="buttons">
            <button class="btn-contact" routerLink="contactez-nous">Contact</button>
            <button class="btn-cotation" (click)="onOpenCotationRequest()">Devis Gratuit</button>
        </div>
    </div>
</header>