.project-item-modal {
    position: relative;
    width: 100%;

    .project-hero-banner {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--project-blue-primary-color);
        padding-top: 4rem;
        padding-bottom: 20rem;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background: linear-gradient(36deg, rgba(52, 65, 112, 1) 45%, rgba(52, 65, 112, 0.7) 66%, rgba(255, 255, 255, 0) 100%);
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .hero {
            object-fit: cover;
        }

        .content {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 3rem;

            .texts {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                z-index: 2;

                h1 {
                    line-height: 1;
                    font-size: 3rem;
                    max-width: 750px;
                    color: var(--project-green-secondary-color);
                }

                p {
                    color: var(--project-white-primary-color);
                    font-weight: 300;
                    font-size: 1rem;
                    line-height: 1.5;
                    max-width: 1000px;
                }
            }

            .renovation-types {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                bottom: 1.5rem;
                left: 1rem;
                z-index: 2;

                li {
                    height: fit-content;
                    font-size: 0.92rem;
                    padding: 5px 10px;
                    background-color: var(--project-green-primary-color);
                    color: var(--project-white-primary-color);
                    border: 1px solid #a7a7a7;
                }
            }
        }
    }

    .images {
        display: flex;
        justify-content: center;
        margin-top: -13rem;

        .content {
            width: 100%;
            position: relative;
            z-index: 3 !important;

            .p-carousel-content {
                p-button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-100%);
                    z-index: 5;

                    button {
                        background-color: var(--project-green-primary-color);
                        color: var(--project-white-primary-color);
                    }
                }

                .p-carousel-prev-button {
                    left: 0;
                }

                .p-carousel-next-button {
                    right: 0;
                }

                .image-wrapper {
                    position: relative;
                    width: 97%;
                    height: 26rem;
                    margin: auto;
                    cursor: pointer;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 0;
                        background-color: rgba(63, 61, 86, 0.22);
                        z-index: 1;
                        transition: all 0.2s ease-in-out;
                    }

                    &:hover {
                        &::before {
                            display: none;
                        }

                        img {
                            transform: scale(1.2);
                        }
                    }

                    img {
                        object-fit: cover;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }

        }
    }
}