<div class="works-hero">
    <div class="content header-container">
        <h1>Contactez Nos Équipes </h1>
        <p>
            Que ce soit pour une rénovation complète, un aménagement intérieur ou des travaux spécifiques, nous sommes
            là pour concrétiser vos idées.
        </p>
        <div class="buttons">
            <a href="tel:+330130610606" class="call">Appelez-nous</a>
            <button class="cotation" (click)="onOpenCotationRequest()">Devis gratuit</button>
        </div>
    </div>
</div>