.home-latest-works {
    display: flex;
    justify-content: center;
    background-color: var(--project-blue-primary-color);
    padding: 2rem 0 ;
    position: relative;
    margin-top: 10rem;
    margin-bottom: 7rem;

    .waves-top,
    .waves-bottom{
        position: absolute;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    .waves-top{
        top: -13rem;
    }

    .waves-bottom{
        bottom: -8rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 100%;
        
        .top {
            display: flex;
            justify-content: space-between;

            h1 {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                line-height: 1;
                letter-spacing: -1;
                font-size: 3rem;
                color: var(--project-white-primary-color);
            }
        }

        .works {
            position: relative;

            p-button {
                position: absolute;
                right: 0;
                top: -6.5rem;

                button {
                    background-color: var(--project-white-primary-color);
                    color: var(--project-black-primary-color);

                    &:hover {
                        background-color: var(--project-green-primary-color);
                        color: var(--project-white-primary-color);
                    }
                }
            }

            .p-carousel-prev-button {
                right: 4rem;
            }

            .p-carousel-item {
                margin: 0 auto;
                padding: 0 0.5rem;

                .work {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: fit-content;
                    border-radius: 1rem;

                    .image-wrapper {
                        position: relative;
                        width: 100%;
                        height: 18rem;
                        flex-shrink: none;

                        &::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 32%);

                        }

                        img {
                            object-fit: cover;
                            z-index: -1;
                        }

                        .renovation-types {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 0.5rem;
                            position: absolute;
                            bottom: 1.5rem;
                            left: 1rem;
                            z-index: 2;

                            li {
                                border-radius: 100px;
                                font-size: 0.92rem;
                                padding: 5px 10px;
                                background-color: var(--project-green-primary-color);
                                color: var(--project-white-primary-color);
                                border: 1px solid #a7a7a7;
                            }
                        }
                    }

                    .texts {
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        background-color: var(--project-white-primary-color);
                        flex: 1;
                        gap: 1rem;

                        h3 {
                            font-size: 1.3rem;
                            font-weight: 600;
                            line-height: 1;
                            letter-spacing: -1px;
                        }

                        .duration {
                            display: flex;
                            gap: 1rem;
                            background-color: var(--project-white-primary-color);
                            color: var(--project-black-primary-color);
                            padding: 7px;
                            width: fit-content;
                        }

                        p {
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-box-orient: vertical;
                            line-clamp: 2;
                            -webkit-line-clamp: 2;
                            font-size: 1rem;
                            line-height: 1.3;
                        }

                        button {
                            background-color: transparent;
                            font-size: 1.05rem;
                            border-radius: 100px;
                            padding: 12px 18px;
                            font-weight: 500;
                            border: 1px solid var(--project-black-primary-color);
                            color: var(--project-black-primary-color);
                            cursor: pointer;
                            transition: all 0.2s ease-in-out;
                            width: fit-content;
                            margin-top: 1rem;

                            &:hover {
                                background-color: var(--project-green-primary-color);
                            }
                        }
                    }
                }
            }

            .p-carousel-indicator-list{
                margin-top: 3rem;
            }
        }
    }
}