<div class="about-quotation">
    <div class="content my-container">
        <div class="texts">
            <h2>
                Un projet de rénovation ? <br> Parlons-en !
            </h2>
            <p>
                Vous avez un projet de rénovation, d'aménagement ou d'extension ? Obtenez une estimation précise et sans
                engagement pour vos travaux. Racontez-nous vos idées, et notre équipe vous recontactera rapidement pour
                vous proposer une solution sur mesure, adaptée à vos besoins et à votre budget.
            </p>

            <button> Obtenez un devis gratuit</button>
        </div>
    </div>
</div>