.quotation-hero-banner {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 5.5rem);
    height: 100%;

    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.301);
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    img {
        object-fit: cover;
        z-index: -2;
    }

    .content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        padding-top: 5rem;
        padding-bottom: 3rem;

        .texts {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            color: var(--project-white-primary-color);
            max-width: 500px;

            h1 {
                font-size: 2.2rem;
                letter-spacing: -1px;
                line-height: 1;
            }

            p {
                font-size: 1rem;
                line-height: 1.5;
            }
        }

        
    }

}