<div class="quotation-hero-banner">
    <img ngSrc="images/home/hero-carousel/maison-5.webp" alt="" fill priority>

    <div class="content header-container">
        <div class="texts">
            <h1>Demandez votre devis gratuit pour vos travaux de rénovation</h1>
            <p>Obtenez rapidement une estimation détaillée et sans engagement pour votre projet de construction ou de
                rénovation. Nos experts vous accompagnent, de la conception à la réalisation.</p>
        </div>
    </div>
</div>