<div class="work-list">
    <div class="content header-container">
        <div class="works">
            @for (work of projects(); track $index) {
            <div class="work" (click)="onProjectChoosed(work.id)">
                <div class="image-wrapper">
                    <img [ngSrc]="work.coverImage" [alt]="work.title" fill>
                </div>
                <div class="texts">
                    <h2>{{work.title}}</h2>
                    <button>Voir Plus</button>
                </div>
            </div>
            }
        </div>
    </div>
</div>