.work-list {
    display: flex;
    justify-content: center;

    .content {
        width: 100%;

        .works {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            flex: 3;

            .work {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                cursor: pointer;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

                &:hover {
                    .image-wrapper {
                        &::before {
                            display: none;
                        }

                        img {
                            transform: scale(1.1);
                        }
                    }

                    .texts {
                        background-color: var(--project-green-primary-color);

                        h2 {
                            color: var(--project-white-primary-color);
                        }
                    }
                }

                .image-wrapper {
                    position: relative;
                    width: 100%;
                    height: 22rem;
                    overflow: hidden;

                    &::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(46, 45, 45, 0.5) 34%, rgba(0, 0, 0, 0) 56%);
                    }

                    img {
                        object-fit: cover;
                        transition: all 0.9s ease-in-out;
                    }
                }

                .texts {
                    display: flex;
                    gap: 2rem;
                    padding: 0.8rem;
                    background-color: var(--project-green-secondary-color);

                    h2 {
                        flex: 1;
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        line-clamp: 2;
                        -webkit-line-clamp: 2;
                        color: var(--project-black-primary-color);
                        font-weight: 500;
                        font-size: 1.1rem;
                    }

                    button {
                        height: 45px;
                        background-color: transparent;
                        font-size: 1.05rem;
                        width: 100px;
                        font-weight: 600;
                        border: 1px solid var(--project-black-primary-color);
                        color: var(--project-black-primary-color);
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                        white-space: nowrap;
                        background-color: var(--project-white-primary-color);

                        &:hover {
                            background-color: var(--project-green-secondary-color);
                            border: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }
}