.hero-image-carousel {
    display: flex;
    justify-content: center;
    margin-top: -3rem;
    position: relative;

    .content {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        button {
            background-color: rgb(235, 235, 235);
            color: var(--project-black-primary-color);
            border: none;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            cursor: pointer;
            z-index: 10;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: var(--project-green-primary-color);
                color: var(--project-white-primary-color);
            }

            &.prev-button {
                left: 0;
            }

            &.next-button {
                right: 0;
            }
        }

    }

    .carousel-wrapper {
        position: relative;
        width: 100%;
        height: 35rem;
        overflow: hidden;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: -3rem;
            left: 50%;
            transform: translateX(-50%);
            width: 110vw;
            height: 100px;
            background-color: var(--project-white-primary-color);
            border-bottom-left-radius: 80%;
            border-bottom-right-radius: 80%;
            z-index: 9999;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -3rem;
            left: 50%;
            transform: translateX(-50%);
            width: 110vw;
            height: 100px;
            background-color: var(--project-white-primary-color);
            border-top-left-radius: 80%;
            border-top-right-radius: 80%;
            z-index: 9999;
        }

        .carousel-container {
            display: flex;
            gap: 1rem;
            width: 100%;
            height: 100%;

            .image-wrapper {
                position: relative;
                width: 30vw;
                flex: 1 0 auto;
                height: 100%;

                &::before {
                    position: absolute;
                    content: "";
                    top: 100%;
                    left: 0;
                    //background-color: #598912af;
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    transition: all 0.5s ease-in-out;
                }

                &:hover {

                    &::before {
                        top: 0;
                    }
                }

                img {
                    object-fit: cover;
                    z-index: -1;

                }
            }
        }
    }
}