.hero-image-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--project-blue-primary-color);
    gap: 4rem;
    padding: 4rem 0;

    .content {
        width: 100%;

        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            h2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                line-height: 1;
                font-weight: 900;
                letter-spacing: -1;
                font-size: 3rem;
                color: var(--project-white-primary-color);
            }

            p{
                text-align: center;
                font-size: 1rem;
                line-height: 1.5;
                color: var(--project-white-primary-color);
                max-width: 900px;
            }
        }
    }

    .carousel-wrapper {
        position: relative;
        width: 100%;
        height: 30rem;
        overflow: hidden;
        display: flex;
        justify-content: center;

        /*
        &::before {
            content: '';
            position: absolute;
            top: -3rem;
            left: 50%;
            transform: translateX(-50%);
            width: 110vw;
            height: 100px;
            background-color: var(--project-blue-primary-color);
            border-bottom-left-radius: 80%;
            border-bottom-right-radius: 80%;
            z-index: 9999;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -3rem;
            left: 50%;
            transform: translateX(-50%);
            width: 110vw;
            height: 100px;
            background-color: var(--project-blue-primary-color);
            border-top-left-radius: 80%;
            border-top-right-radius: 80%;
            z-index: 9999;
        }

*/
        .buttons {
            pointer-events: none;
            display: flex;
            justify-content: space-between;
            align-self: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            z-index: 1;

            button {
                background-color: rgb(235, 235, 235);
                color: var(--project-black-primary-color);
                border: none;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                cursor: pointer;
                z-index: 10;
                transition: all 0.2s ease-in-out;
                pointer-events: all;
                
                &:hover {
                    background-color: var(--project-green-primary-color);
                    color: var(--project-white-primary-color);
                }

                &.prev-button {
                    left: 0;
                }

                &.next-button {
                    right: 0;
                }
            }
        }

        .carousel-container {
            display: flex;
            position: relative;
            gap: 1rem;
            width: 100%;
            height: 100%;

            .work {
                display: flex;
                flex-direction: column;
                background-color: var(--project-white-primary-color);
                width: 42vw;
                flex: 1 0 auto;
                padding: 0.5rem;

                &:hover {
                    background-color: var(--project-green-secondary-color);
                }

                .image-wrapper {
                    position: relative;
                    height: 100%;
                    width: 100%;

                    &::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        background-color: rgba(63, 61, 86, 0.481);
                        width: 100%;
                        height: 100%;
                        z-index: 5;
                        transition: all 0.5s ease-in-out;
                        z-index: 0;
                    }

                    img {
                        object-fit: cover;
                        z-index: -1;
                    }

                    .renovation-types {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.5rem;
                        position: absolute;
                        bottom: 1.5rem;
                        left: 1rem;
                        z-index: 2;

                        li {
                            border-radius: 100px;
                            font-size: 0.92rem;
                            padding: 5px 10px;
                            background-color: var(--project-green-primary-color);
                            color: var(--project-white-primary-color);
                            border: 1px solid #a7a7a7;
                        }
                    }
                }

                .texts {
                    display: flex;
                    padding: 1rem 0 0.5rem;
                    gap: 2rem;

                    h3 {
                        flex: 1;
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        line-clamp: 2;
                        -webkit-line-clamp: 2;
                        color: var(--project-black-primary-color);
                        font-weight: 500;
                        font-size: 1.1rem;
                    }

                    button {
                        height: 45px;
                        background-color: transparent;
                        font-size: 1.05rem;
                        width: 100px;
                        font-weight: 600;
                        border: 1px solid var(--project-black-primary-color);
                        color: var(--project-black-primary-color);
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                        white-space: nowrap;
                        background-color: var(--project-white-primary-color);

                        &:hover {
                            background-color: var(--project-green-primary-color);
                            color: var(--project-white-primary-color);
                            border: 1px solid transparent;
                        }
                    }
                }

            }

        }
    }
}