.blog-rubric-list {
    display: flex;
    justify-content: center;

    .content {
        width: 100%;
        overflow-x: auto;
        height: 100px;

        ul {
            display: flex;
            gap: 2rem;
            border-bottom: 1px solid #0000003d;

            li {
                position: relative;
                padding: 0.7rem 0.5rem;
                font-size: 1.05rem;
                text-align: center;
                flex: 1 0 auto;
                transition: all 0.2s ease-in-out;
                letter-spacing: -1px;

                &:hover{
                    cursor: pointer;
                    font-weight: 600;
                }
            }

            .active-rubric {
                font-weight: 600;

                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: var(--project-black-primary-color);
                    left: 0;
                    bottom: -2px;
                }
            }
        }
    }
}