<div class="page-under-maintenance">
    <div class="content my-container" #maintenanceContainer>
        <div class="image-wrapper image">
            <img ngSrc="images/maintenance/ma-renovation-immobiliere.webp" alt="Ma rénonnation Immobilière" fill
                priority>
            <div class="square"></div>
            <a href="https://www.instagram.com/ma_renov_immo/" target="_blank" class="network instagram">
                <div class="icon-wrapper">
                    <fa-icon [icon]="'faInstagram' | convertStringLabelToFontawesomeIcon"></fa-icon>
                </div>
                <p> Découvrez plus <br> sur Instagram</p>
            </a>

        </div>

        <div class="image-wrapper-on-mobile image">
            <img ngSrc="images/maintenance/ma-renovation-immobiliere.webp" alt="Ma rénonnation Immobilière" fill
                priority>
        </div>

        <div class="texts">
            <div class="logo-bloc">
                <img class="logo" alt="" ngSrc="images/logos/ma-renovation-immobiliere.svg" width="130" height="82"
                    priority>

                <h1>Ma Rénnovation Immobilière</h1>
            </div>
            <p class="explain">
                Un chantier est en cours !
                Comme nos projets de construction, notre site fait peau neuve.
                Nous finalisons les derniers détails pour vous accueillir très bientôt.
            </p>

            <div class="contact">
                <p>Vous pouvez toujours nous joindre :</p>

                <ul>
                    @for (network of networks; track $index) {
                    <li>
                        <a [href]="network.href" target="_blank">
                            <div class="icon-wrapper">
                                <fa-icon [icon]="network.icon| convertStringLabelToFontawesomeIcon"></fa-icon>
                            </div>
                            <span class="long"> {{network.longLabel}} </span>
                            <span class="short"> {{network.shortLabel}} </span>
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>