.page-under-maintenance {
    display: flex;
    justify-content: center;
    min-height: 100svh;
    height: 100%;
    background-color: var(--project-green-secondary-color);
    padding: 2rem 0;

    .content {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4rem;

        .image-wrapper {
            overflow: hidden;
            width: 500px;
            height: 40rem;
            position: relative;
            border-radius: 50% 50% 0 0;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

            img {
                object-fit: cover;
                object-position: top;
            }
        }

        .texts {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            flex: 1;

            h1 {
                font-size: 4rem;
                font-weight: 800;
                line-height: 1;
                color: var(--project-black-primary-color);
                max-width: 700px;
                margin-top: 1rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.6;
                font-weight: 500;
                max-width: 900px;

            }

            .contact {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;

                p {
                    font-weight: 700;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    li {

                        a {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                        }

                        .icon-wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 40px;
                            height: 35px;
                            border-radius: 5px;
                            background-color: white;
                            color: var(--project-green-primary-color);
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                            fa-icon {
                                font-size: 1.2rem;
                                line-height: 1;
                            }
                        }

                        span {
                            text-align: center;
                            font-weight: 600;
                            color: var(--project-black-primary-color);
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1111px) {
    .page-under-maintenance {
        .content {
            .image-wrapper {
                width: 450px;
                height: 40rem;
            }

            .texts {

                h1 {
                    font-size: 3rem;
                }

                .contact {
                    gap: 0.7rem;

                    ul {
                        gap: 0.8rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
    .page-under-maintenance {
        .content {
            flex-direction: column-reverse;

            .image-wrapper {
                display: none;
            }

            .texts {
                align-items: center;

                h1 {
                    font-size: 3rem;
                    text-align: center;
                }

                p {
                    text-align: center;
                }

                .contact {
                    gap: 0.7rem;
                    margin-top: 1rem;
                    justify-content: center;



                    ul {
                        gap: 1.8rem;
                        li{
                            a{
                                flex-direction: column;
                                gap: 0.7rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 760px) {
    .page-under-maintenance {
        .content {
            .texts {
                h1 {
                    font-size: 2rem;
                }
            }
        }
    }
}