.page-under-maintenance {
    display: flex;
    justify-content: center;
    min-height: 100svh;
    height: 100%;
    padding: 2rem 0;
    background: linear-gradient(to bottom, #eff8d8 0%, #e5ffa9 80%);

    .content {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4rem;
        opacity: 0;

        .image-wrapper {
            width: 500px;
            height: 40rem;
            position: relative;

            .square {
                position: absolute;
                content: "";
                bottom: -2.5rem;
                left: -2.5rem;
                background-color: var(--project-green-primary-color);
                width: 250px;
                height: 250px;
                z-index: 0;
            }

            img {
                object-fit: cover;
                object-position: top;
                z-index: 2;
            }

            .network {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                position: absolute;
                padding-right: 1rem;
                padding-bottom: 0.5rem;
                z-index: 2;
                border-right: 10px solid var(--project-green-secondary-color);
                border-bottom: 10px solid var(--project-green-secondary-color);
                background-color: var(--project-green-secondary-color);
                cursor: pointer;
                text-decoration: none;
                color: var(--project-black-primary-color);

                &:hover {
                    transition: all 0.2s ease-in-out;

                    .icon-wrapper {
                        background-color: var(--project-green-primary-color);
                        color: var(--project-white-primary-color);
                    }
                }

                .icon-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    background-color: var(--project-white-primary-color);
                    width: 50px;
                    height: 50px;
                    border-radius: 7px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                    fa-icon {
                        font-size: 2rem;
                    }
                }

                p {
                    font-weight: 500;
                }
            }

            .instagram {
                top: 0;
                left: 0;
            }

            .linkedin {
                left: 0;
                bottom: 0;
            }
        }

        .texts {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 1rem;
            flex: 1;

            .logo-bloc {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                h1 {
                    font-size: 3.3rem;
                    font-weight: 800;
                    line-height: 1;
                    color: var(--project-black-primary-color);
                    max-width: 700px;
                    margin-top: 1rem;
                }
            }

            .explain {
                font-size: 1rem;
                line-height: 1.5;
            }

            .contact {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;

                p {
                    font-weight: 700;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    li {

                        a {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                        }

                        .icon-wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 40px;
                            height: 35px;
                            background-color: white;
                            color: var(--project-green-primary-color);
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                            fa-icon {
                                font-size: 1.2rem;
                                line-height: 1;
                            }
                        }

                        span {
                            font-weight: 600;
                            color: var(--project-black-primary-color);
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1210px) {
    .page-under-maintenance {
        .content {
            .texts {
                .logo-bloc {
                    flex-direction: column;
                    align-items: flex-start;

                    h1 {
                        font-size: 2.8rem;
                    }
                }

                .contact {
                    gap: 0.7rem;

                    ul {
                        gap: 0.8rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 980px) {
    .page-under-maintenance {
        padding-bottom: 0;

        .content {
            flex-direction: column-reverse;

            .image-wrapper {
                position: absolute;
                overflow: unset;
                width: 100%;

                img,
                .square {
                    display: none;
                }

                .network {
                    justify-content: center;
                    align-items: center;
                    top: unset;
                    bottom: 0;
                    padding: 0;
                    width: 100%;
                    background-color: var(--project-green-primary-color);
                    flex-direction: row;
                    border: none;
                    gap: 0;

                    .icon-wrapper {
                        width: fit-content;
                        height: fit-content;
                        background-color: unset;
                        color: white;
                        box-shadow: none;
                    }

                    p {
                        display: flex;
                        gap: 0.3rem;
                        color: white;
                    }
                }


            }

            .texts {
                justify-content: center;
                padding-bottom: 100px;

                .logo-bloc {
                    align-items: center;

                    h1 {
                        text-align: center;
                    }
                }

                p {
                    text-align: center;
                }

                .contact {
                    gap: 0.7rem;
                    margin-top: 1rem;
                    justify-content: center;

                    ul {
                        gap: 1rem;

                        li {
                            a {
                                align-items: center;
                                gap: 1rem;
                                background-color: #fbfdf7;
                                padding: 0.5rem;
                                box-shadow: rgb(50 50 93 / 12%) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                                height: -webkit-fill-available;

                                .icon-wrapper {
                                    box-shadow: none;
                                    width: 40px;
                                    height: 40px;
                                    background-color: var(--project-green-primary-color);
                                    flex-shrink: 0;

                                    fa-icon {
                                        font-size: 1.3rem;
                                        color: var(--project-white-primary-color);
                                    }
                                }

                                span{
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 760px) {
    .page-under-maintenance {
        .content {
            .texts {
                .logo-bloc {
                    h1 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}