<div class="page-under-maintenance">
    <div class="content my-container" #maintenanceContainer>
        <div class="image-wrapper image">
            <img ngSrc="images/maintenance/mri.jpg" alt="Ma rénonnation Immobilière" fill priority>
        </div>

        <div class="texts">
            <img class="logo" alt="" ngSrc="images/header/erasebg-transformed.webp" width="130" height="82">

            <h1>Ma Rénnovation Immobilière</h1>
            <p>
                Un chantier est en cours !
                Comme nos projets de construction, notre site se construit pierre après pierre.
                Nous finalisons les derniers détails pour vous accueillir très bientôt.
            </p>

            <div class="contact">
                <p>Vous pouvez toujours nous joindre :</p>

                <ul>
                    <li>
                        <a href="tel:+330130610606">
                            <div class="icon-wrapper">
                                <fa-icon [icon]="'faPhone' | convertStringLabelToFontawesomeIcon"></fa-icon>
                            </div>
                            <span>+33 01 30 61 06 06</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:contact&#64;mri-idf.com">
                            <div class="icon-wrapper">
                                <fa-icon [icon]="'faEnvelope' | convertStringLabelToFontawesomeIcon"></fa-icon>
                            </div>
                            <span>contact&#64;mri-idf.com</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank">
                            <div class="icon-wrapper">
                                <fa-icon [icon]="'faLocationDot' | convertStringLabelToFontawesomeIcon"></fa-icon>
                            </div>
                            <span>45 Rue de la Liberté, 78100 Saint-Germain-en-Laye</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>