.page-under-maintenance {
    display: flex;
    justify-content: center;
    min-height: 100svh;
    height: 100%;
    padding: 2rem 0;
    background: linear-gradient(to bottom, #eff8d8 0%, #e5ffa9 80%);

    .content {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4rem;
        opacity: 0;
        color: var(--project-black-primary-color);

        .image-wrapper {
            width: 500px;
            height: 40rem;
            position: relative;

            .square {
                position: absolute;
                content: "";
                bottom: -2.5rem;
                left: -2.5rem;
                background-color: var(--project-green-primary-color);
                width: 250px;
                height: 250px;
                z-index: 0;
            }

            img {
                object-fit: cover;
                object-position: top;
                z-index: 2;
            }

            .network {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                position: absolute;
                padding-right: 1rem;
                padding-bottom: 0.5rem;
                z-index: 2;
                border-right: 10px solid var(--project-green-secondary-color);
                border-bottom: 10px solid var(--project-green-secondary-color);
                background-color: var(--project-green-secondary-color);
                color: var(--project-black-primary-color);
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    transition: all 0.2s ease-in-out;

                    .icon-wrapper {
                        background-color: var(--project-green-primary-color);
                    }
                }

                .icon-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    background-color: var(--project-white-primary-color);
                    width: 50px;
                    height: 50px;
                    border-radius: 7px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                    fa-icon {
                        font-size: 2rem;
                    }
                }

                p {
                    font-weight: 500;
                }
            }

            .instagram {
                top: 0;
                left: 0;
            }
        }

        .image-wrapper-on-mobile{
            display: none;
        }

        .texts {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 1rem;
            flex: 1;

            .logo-bloc {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                h1 {
                    font-size: 3.3rem;
                    font-weight: 800;
                    line-height: 1;
                    max-width: 700px;
                    margin-top: 1rem;
                }
            }

            .explain {
                font-size: 1rem;
                line-height: 1.5;
            }

            .contact {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;

                p {
                    font-weight: 700;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    li {

                        &:last-child {
                            display: none;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            .icon-wrapper {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                height: 35px;
                                background-color: var(--project-white-primary-color);
                                color: var(--project-green-primary-color);
                                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                                fa-icon {
                                    font-size: 1.2rem;
                                    line-height: 1;
                                }
                            }

                            span {
                                font-weight: 600;
                                text-align: center;
                                color: var(--project-black-primary-color);
                            }

                            .short {
                                display: none;
                            }
                        }

                    }
                }
            }
        }
    }
}

@media all and (max-width: 1210px) {
    .page-under-maintenance {
        .content {
            .texts {
                .logo-bloc {
                    flex-direction: column;
                    align-items: flex-start;

                    h1 {
                        font-size: 2.8rem;
                    }
                }

                .contact {
                    gap: 0.7rem;

                    ul {
                        gap: 0.8rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 980px) {
    .page-under-maintenance {
        padding-bottom: 0;
        

        .content {
            flex-direction: column-reverse;
            color: var(--project-white-primary-color);

            .image-wrapper {
                display: none;
            }

            .image-wrapper-on-mobile{
                display: block;

                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.35);
                    z-index: 1;
                }

                img {
                    z-index: 0;
                    object-fit: cover;
                }
            }

            .texts {
                justify-content: center;
                padding-bottom: 100px;
                z-index: 2;

                .logo-bloc {
                    align-items: center;

                    h1 {
                        text-align: center;
                    }
                }

                p {
                    text-align: center;
                }

                .contact {
                    gap: 0.7rem;
                    margin-top: 1rem;
                    justify-content: center;
                    z-index: 2;

                    p {
                        display: none;
                    }

                    ul {
                        gap: 1rem;
                        flex-direction: row;
                        justify-content: space-around;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: var(--project-green-primary-color);
                        width: 100%;

                        li {
                            flex: 1;

                            &:last-child {
                                display: flex;
                            }

                            a {
                                flex-direction: column;
                                align-items: center;
                                gap: 0;
                                background-color: transparent;
                                padding: 0.5rem;
                                box-shadow: none;
                                height: -webkit-fill-available;

                                .icon-wrapper {
                                    box-shadow: none;
                                    width: 40px;
                                    height: 40px;
                                    background-color: transparent;
                                    flex-shrink: 0;

                                    fa-icon {
                                        font-size: 1.25rem;
                                        color: var(--project-white-primary-color);
                                    }
                                }

                                span {
                                    font-size: 0.9rem;
                                    font-weight: 500;
                                    color: var(--project-white-primary-color);
                                }

                                .long {
                                    display: none;
                                }

                                .short {
                                    display: inline;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 760px) {
    .page-under-maintenance {
        .content {
            .texts {
                .logo-bloc {
                    h1 {
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }
}