.about-our-teams {
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;


        h2 {
            font-size: 3.5rem;
            color: var(--project-blue-primary-color);
            line-height: 1;
            letter-spacing: -1;
        }

        p{
            font-size: 1rem;
            line-height: 1.5;
            max-width: 1000px;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            gap: 1.5rem;
            margin-top: 3rem;

            li {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                padding: 1rem;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

                .image-wrapper {
                    position: relative;
                    width: 100%;
                    height: 20rem;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        object-position: top;
                    }
                }

                .texts {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    h3 {
                        color: var(--project-green-primary-color);
                        letter-spacing: -1px;
                        line-height: 1;
                        font-size: 1.4rem;
                    }

                    p {
                        font-size: 0.95rem;
                    }
                }
            }
        }
    }
}