@import url("primeicons/primeicons.css");
@import url("variables.scss");

@layer reset, primeng;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "montserrat", sans-serif;
  }

  html {
    scroll-behavior: smooth;
    font-size: 1rem;
  }

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .header-container {
    max-width: 1400px;
    padding: 0 1rem;
  }

  .my-container {
    max-width: 1300px;
    padding: 0 1rem;
  }


  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .Facebook {
    &:hover {
      a {
        color: #1877F2 !important;
      }
    }
  }

  .Instagram {
    &:hover {
      a {
        color: #E1306C !important;
      }
    }
  }

  .Youtube {
    &:hover {
      a {
        color: #FF0000 !important;
      }
    }
  }

  .Whatsapp {
    &:hover {
      a {
        color: green !important;
      }
    }
  }
}

.cotation-form {
  border: solid red;
}

@layer primeng {
  .cotation-form {
    background-color: var(--project-green-secondary-color) !important;
    padding: 0.5rem 0;
    border-radius: 0 !important;

    .p-dialog-header {
      display: flex;
      gap: 2rem;
      margin-bottom: 1.5rem;

      .p-dialog-title {
        font-weight: 800 !important;
        font-size: 1.8rem !important;
        line-height: 1 !important;
      }

      .p-dialog-header-actions {
        p-button {
          button {
            border: 1px solid var(--project-black-primary-color) !important;
            color: var(--project-black-primary-color) !important;
            width: 40px !important;
            height: 40px !important;
            border-radius: 0 !important;
            background-color: var(--project-white-primary-color) !important;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

            &:hover {
              background-color: var(--project-black-primary-color) !important;
              color: var(--project-white-primary-color) !important;
            }
          }
        }
      }
    }
  }

  .project-modal {
    min-height: 100svh !important;
    border-radius: 0 !important;
    padding: 0 !important;
    border: none !important;

    .p-dialog-header {
      background-color: #212e5f !important;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, #eff8d8 0px 8px 16px -8px !important;
      overflow: auto !important;

      .p-dialog-header-actions {
        p-button {
          button {
            width: 40px !important;
            height: 40px !important;
            border-radius: 0 !important;
            background-color: white !important;
            color: var(--project-black-primary-color) !important;
            transition: all 0.2s ease-in-out !important;
            cursor: pointer;

            &:hover {
              background-color: var(--project-green-primary-color) !important;
              color: var(--project-white-primary-color) !important;
            }
          }
        }
      }
    }

    .p-dialog-content {
      padding: 0 !important;
    }
  }
}