:root{
    --project-black-primary-color : #111010;
    --project-black-secondary-color : #a2a2a2;
    --project-white-primary-color : #fafafa;
    --project-green-primary-color : #6d9907;
    --project-green-secondary-color : #eff8d8;
    --project-blue-primary-color : #344170;
}