.home-about-us {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 4rem;

    .top {
        display: flex;
        justify-content: center;

        .content {
            display: flex;
            justify-content: space-between;
            gap: 4rem;

            .images{
                display: flex;
                gap: 1rem;
                flex: 1;

                .left{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .top{
                        flex: 3;
                    }

                    .bottom{
                        flex: 2;
                    }
                }

                .right{
                    flex: 1;
                }
            }

            .image-wrapper {
                position: relative;
                flex: 1;
                height: 40rem;

                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    background-color: rgba(63, 61, 86, 0.281);
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    transition: all 0.5s ease-in-out;
                    z-index: 1;
                }

                img {
                    object-fit: cover;
                    object-position: top center;
                }
            }

            .texts {
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 0.5rem;

                h2 {
                    margin-bottom: 1rem;
                    font-size: 3rem;
                    font-weight: 800;
                    line-height: 1;
                    letter-spacing: -1px;
                    color: var(--project-blue-primary-color);
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5;

                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-top: 2rem;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .icon-wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 30px;
                            height: 30px;
                            background-color: var(--project-green-secondary-color);

                            fa-icon {
                                font-size: 1.1rem;
                                color: var(--project-blue-primary-color)
                            }
                        }


                    }
                }

                button {
                    background-color: var(--project-green-primary-color);
                    font-size: 1.05rem;
                    padding: 12px 18px;
                    font-weight: 500;
                    border: 1px solid var(--project-green-primary-color);
                    color: white;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    width: fit-content;
                    margin-top: 3rem;

                    &:hover {
                        background-color: var(--project-blue-primary-color);
                    }
                }
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: center;

        .content {
            width: 100%;
            border-bottom: 1px solid rgb(194, 194, 194);
            padding-bottom: 3rem;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    span {
                        font-size: 4.3rem;
                        line-height: 1;
                        font-weight: 600;
                        color: #838383;
                        text-shadow: 0 2px 4px var(--project-green-primary-color);
                    }

                    .texts {
                        display: flex;
                        flex-direction: column;
                        gap: 0.3rem;

                        p {
                            font-size: 1rem;
                            line-height: 1;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}