<div class="home-about-us">
    <div class="top">
        <div class="content my-container">
            <div class="image-wrapper">
                <img ngSrc="images/home/hero-carousel/maison.jpg" alt="" fill>
            </div>

            <div class="texts">
                <h2>Une expertise locale au service de votre projet</h2>
                <p>
                    Spécialiste de la rénovation et de la construction tous corps d'état, l'entreprise <strong>MA
                        RÉNOVATION
                        IMMOBILIÈRE</strong> met son expertise de plus de 10 ans au service de votre projet à
                    Saint-Germain-en-Laye et ses environs.
                </p>
                <p>
                    Que vous soyez un particulier ou un professionnel, nous vous accompagnons de A à Z : de l'étude de
                    votre projet à sa réalisation complète, en passant par le <b>montage de vos dossiers de
                        financement</b>.
                </p>
                <p>Notre engagement ? Qualité, professionnalisme et respect des délais, en collaboration avec des
                    <b>fournisseurs de renom</b>.
                </p>
                <button>Découvrez notre agence</button>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="content my-container">
            <ul>
                <li>
                    <span>+10</span>
                    <div class="texts">
                        <p>Années</p>
                        <p>D'expérience</p>
                    </div>
                </li>

                <li>
                    <span>+2500</span>
                    <div class="texts">
                        <p>Projets</p>
                        <p>Réalisés</p>
                    </div>
                </li>

                <li>
                    <span>+5K</span>
                    <div class="texts">
                        <p>Clients</p>
                        <p>Accompagnés</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>