<div class="form-contact-data">
    <div class="content my-container">
        <span class="pre">Contactez-nous</span>
        <h1>Contactez Nos Équipes </h1>
        <p>
            Que ce soit pour une rénovation complète, un aménagement intérieur ou des travaux spécifiques, nous sommes
            là pour concrétiser vos idées.
        </p>

        <div class="form-block-data">
            <div class="form-bloc">
                <h2>Parlez-nous de votre besoin</h2>
                <form>
                    <div class="input-bloc">
                        <label for="name">Nom</label>
                        <input type="text" pInputText id="name" placeholder="Votre nom et prénom">
                    </div>

                    <div class="input-bloc">
                        <label for="email">Email</label>
                        <input type="text" pInputText id="email" placeholder="Votre nom et prénom">
                    </div>

                    <div class="input-bloc">
                        <label for="phone">Téléphone</label>
                        <input type="text" pInputText id="phone" placeholder="Votre nom et prénom">
                    </div>

                    <div class="input-bloc">
                        <label for="message">Message</label>
                        <textarea rows="12" cols="25" pTextarea id="message"></textarea>
                    </div>

                    <button type="submit">Envoyer</button>
                </form>
            </div>

            <div class="data">
                <h2>Vous préférez un contact directe ?</h2>

                <ul>
                    <li>
                        <div class="icon-wrapper">
                            <fa-icon [icon]="'faPhone' | convertStringLabelToFontawesomeIcon"></fa-icon>
                        </div>
                        <span>+33 01 30 61 06 06</span>
                    </li>
                    <li>
                        <div class="icon-wrapper">
                            <fa-icon [icon]="'faEnvelope' | convertStringLabelToFontawesomeIcon"></fa-icon>
                        </div>
                        <span>contact&#64;mri-idf.com</span>
                    </li>
                    <li>
                        <div class="icon-wrapper">
                            <fa-icon [icon]="'faClock' | convertStringLabelToFontawesomeIcon"></fa-icon>
                        </div>
                        <span>Lun - Ven : 9h00 - 17h30</span>
                    </li>
                </ul>

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345094445!2d144.95592831531593!3d-37.81720997975179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf577b2f5f91f6e2f!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2sau!4v1613628776321!5m2!1sen!2sau"
                    allowfullscreen="" loading="lazy">
                </iframe>
            </div>
        </div>
    </div>
</div>