.home-supplier-carousel {
    display: flex;
    justify-content: center;

    .content {
        width: 100%;

        .p-carousel-item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                object-fit: cover;
                filter: grayscale(100%) brightness(0.55);
                transition: all 0.3s ease-in-out;

                &:hover{
                    filter: none;
                }
            }
        }
    }
}