<div class="works-hero">
    <img ngSrc="/images/projects/travaux-renovation-saint-germain-en-laye.jpg" alt="" fill priority>
    <div class="content header-container">
        <h1>Nos Réalisations</h1>
        <p>
            Plongez dans notre portfolio pour voir comment nous transformons les espaces et donnons vie aux idées de
            nos clients.
        </p>

        <div class="buttons">
            <button class="cotation" (click)="onOpenCotationRequest()">Devis gratuit</button>
        </div>
    </div>
</div>