.works-hero {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 5rem;

    &::before {
        z-index: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #344170f2;
    }

    img {
        z-index: -1;
        object-fit: cover;
        object-position: center;
    }

    .content {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 1;

        h1 {
            font-size: 3.5rem;
            line-height: 1;
            letter-spacing: -1px;
            color: var(--project-green-secondary-color);
        }

        p {
            font-size: 1rem;
            line-height: 1.5;
            max-width: 700px;
            font-weight: 500;
            color: var(--project-white-primary-color);
            text-align: center;
        }

        .buttons {
            display: flex;
            gap: 1.5rem;
            margin-top: 1rem;

            a,
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
                height: 50px;
                font-size: 1rem;
                border: 1px solid var(--project-white-primary-color);
                color: var(--project-white-primary-color);
                background-color: transparent;
                transition: all 0.2s ease-in-out;
                text-decoration: none;
                cursor: pointer;
            }

            .call {
                &:hover {
                    background-color: var(--project-white-primary-color);
                    color: var(--project-black-primary-color);
                }
            }

            .cotation {
                &:hover {
                    border: 1px solid var(--project-green-primary-color);
                    color: var(--project-black-primary-color);
                    background-color: var(--project-green-primary-color);
                }
            }
        }
    }
}